@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&family=Merriweather:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #111;
  font-family: 'Outfit', sans-serif;
  color: white;
}

html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, .serif {
  font-family: 'Merriweather', serif;
}
